{% extends 'profile.html.twig' %}

{% block title %}My profil
{% endblock %}

{% block content %}


	<div class="col-md-6 mx-auto text-center">
		<div class="card-header h4">
			<img src="{{ vich_uploader_asset(app.user, 'avatarFile') | imagine_filter('avatar') }}" alt="{{ app.user.pseudo }}">
			{{ app.user.pseudo }}
		</div>
		<div class="up">(dernière mise à jour :
			{{ app.user.updatedAt |date('d/m/y H:m:s', 'Europe/Paris') }}
			)
		</div>
		<div class="card-body">
			<h5 class="card-title">Email :
				{{ app.user.email }}</h5>

			<img src="{{ vich_uploader_asset(app.user, 'avatarFile') | imagine_filter('comment') }}" alt="{{ app.user.pseudo }}">
			<div class="card-text">
				<a href="{{ path('user_profil_update') }}">Modifier mon profile</a>

				|
				<a href="{{ path('app_forgot_password_request') }}">Changer mon mot de passe</a>
			</div>
		</div>
	</div>

{% endblock %}
