{% extends 'base.html.twig' %}

{% block title %}Trick index{% endblock %}

{% block body %}
    <h1>Trick index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Content</th>
                <th>PublishedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trick in tricks %}
            <tr>
                <td>{{ trick.id }}</td>
                <td>{{ trick.name }}</td>
                <td>{{ trick.content }}</td>
                <td>{{ trick.publishedAt ? trick.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ trick.updatedAt ? trick.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('trick_show', {'id': trick.id}) }}">show</a>
                    <a href="{{ path('trick_edit', {'id': trick.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('trick_new') }}">Create new</a>
{% endblock %}
