{% extends 'base.html.twig' %}
{% form_theme formComment 'bootstrap_4_layout.html.twig' %}

{% block title %}Trick
{% endblock %}

{% block body %}
	<div class="container">
		{% set mainImage = trick.getPictureMainImage %}
		{% if mainImage %}
			<img class="card-img-top" src="{{ asset('/media/images/tricks/' ~ mainImage.name)|imagine_filter('mainImage') }}" alt="{{ trick.name }}"/>
		{% else %}
			<img class="card-img-top" src="/media/images/snowboarding.jpg" alt="{{ trick.name }}">
		{% endif %}

		<div class="row mt-5">
			{% for picture in trick.pictures %}
				<div class="card mr-2 mb-1 md-12 sm-12">
					<div class="card-img-top">
						<img src="{{ asset('/media/images/tricks/' ~ picture.name) }}" alt="{{ trick.name }}" style="width:10rem; height: 137px;"/>
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="row mt-5 mb-4 justify-content-center">
			<button class="btn btn-outline-primary btn-sm mr-3 disabled text-dark font-weight-bold" role="button" aria-pressed="true" style="width:300px">Category:
				{{ trick.category.name }}</button>
			<button class="btn btn-outline-primary btn-sm mr-3 disabled text-dark font-weight-bold" role="button" aria-pressed="true" style="width:300px">posted :
				{{ trick.publishedAt ? trick.publishedAt|date('d-m-Y H:i:s') : '' }}</button>
			{% if trick.updatedAt %}
				<button class="btn btn-outline-primary btn-sm mr-3 disabled text-dark font-weight-bold" role="button" aria-pressed="true" style="width:300px">updatedAt:
					{{ trick.updatedAt ? trick.updatedAt|date('d-m-Y H:i:s') : '' }}</button>
			{% endif %}
		</div>

		{% block comment %}
			<div class="container">
				{% if app.user %}
					{{ form_start(formComment) }}
					{{ form_widget(formComment) }}
					<button class="btn btn-primary">{{ button_label|default('Save your comment') }}</button>
					{{ form_end(formComment) }}
				{% else %}
					<a class="nav-link" href="{{ path("app_login") }}">
						<i class="fas fa-sign-in-alt"></i>
						Connect you to post
					</a>
				{% endif %}
				<section>
					<hr>
					<ul>
						{% for comment in trick.comments %}
							<div class="card mb-2 contentCom">
								<div class="card-header">
									{% if comment.user.avatar is null or comment.user.avatar is empty  %}
										<img src="/media/images/defaultAvatar.jpg" style="width:25px"/>
									{% else %}
										<img src=" {{ vich_uploader_asset(comment.user, 'avatarFile') | imagine_filter('comment') }} ">
									{% endif %}
									{{ comment.user.pseudo }}
									({{ comment.postedAt|date("d/m/Y H:m:s")  }}
									)
								</div>
								<div class="card-body">
									<blockquote class="blockquote mb-0">
										<p>{{ comment.content }}</p>

									</blockquote>
								</div>
							</div>
						{% endfor %}
					</ul>
				</section>
				<div class="row mb-5 justify-content-center">
					<button type="button" class="btn btn-outline-info" id="loadMoreC">Load More C</button>
				</div>
			</div>
		{% endblock %}
	</div>
{% endblock %}
